.product{
    display: inline-block;
    @include spaceling(20px);
    &__img{
        max-width: 80%;
        @include spaceling(0 auto);
    }
    &__name{
        @include text-as(25px);
        @include spaceling(0 auto);
    }
    &__description{
        @include text-as(15px);
        @include spaceling(0 auto);
    }
    @include media-querys(768px){
        width: 40%;
    }
    @include media-querys(1024px){
        width: 28%;
    }
    @include media-querys(1280px){
        width: 20%;
    }
}      
